:root {
    --one-color: #EEF36A;
    --two-color: #3F3047;
    --three-color: #70557D;
    --four-color: #9BC995;
    --white-color: #FFF;
    --gap-simple: 1.5rem;
    --gap: 3rem;
    --gapduplo: 6rem;
    --gap-endland: 9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Config inicial */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--two-color);
    font-size: 2rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
    line-height: 1;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3rem;
}

/* Background and Section*/

.main-bg {
    background-image: url(../IMG/Main-bg.svg);
    /*Color background var(--one-color); */
    background-size: cover;
    background-position: center center;
    color: var(--two-color);
}

.tornado-bg {
    background-image: url(../IMG/Tornado-bg2.svg);
    /*Color background var(--two-color and --tree-color); */
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.radiant-bg {
    background: #3F3047;
    /*Color background var(--two-color and --tree-color); */
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.second-bg {
    background: var(--four-color);
    color: var(--tree-color);
}

.white-bg {
    background: white;
    /*Color background var(--two-color and --tree-color); */
    background-size: cover;
    background-position: center center;
    color: var(--two-color);
}

.landing {
    min-height: 100vh;
}

.main-area {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.close-menu {
    height: 6.0rem;
    width: 100%;
    background: red;
}

/* Menu */

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    border-bottom: 0.15rem solid var(--three-color);
    z-index: 1;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.5rem;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--two-color);
}

.menu ul {
    display: flex;
}

.menu-op li {
    list-style-type: none;
    position: relative;
}

.menu ul li a::after {
    /*Precisa usar a posição relative no pai*/
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/* Landing one */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: auto;
    padding: 5rem 3rem 20rem 3rem;
    justify-content: center;
    position: relative;
    top: 5rem;
}

.image-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.text-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.title-main {
    margin-bottom: var(--gapduplo);
}

.p-main {
    font-weight: 400;
}

.image-main img {
    max-width: 100%;
    height: auto;
}

/* Landing two */

.container-text {
    padding: 6rem 3rem 3rem 3rem;
    display: flex;
    flex-flow: column wrap;
    max-width: 80rem;
    text-align: center;
    min-height: 100vh;
    margin-bottom: var(--gap-endland);
    position: relative;
    top: 5rem;
}

.container-text h2 {
    padding: var(--gap);
}

.container-text p {
    padding: var(--gap);
}

/* Landing three */

.title-grid {
    padding: 8rem 0;
}

.title-grid h3 {
    margin-bottom: var(--gap)
}

.text-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    margin-bottom: var(--gap-endland);
}

.text-grid h5 {
    position: relative;
    margin-left: 5rem;
    margin-bottom: var(--gap);
}

.text-grid h5::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-style: italic;
    left: -5rem;
    top: -2rem;
    font-size: 5rem;
    transform: rotate(7deg);
}

/* Landing four (Galley) */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid-gallery img {
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
}

.gallery-space {
    max-width: 100%;
    max-height: 97%;
    overflow: hidden;
}

.grid-gallery img:hover {
    transform: scale(1.2) translate(-3%, 3%) rotate(4deg);
}

.gallery-space {
    border: 1px solid var(--three-color);
}

/* Landing five (Table) */

.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

table {
    min-width: 40rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1.2rem;
    text-align: left;
    border: 0.1rem solid var(--four-color);
}

tfoot td, table th {
    background: var(--four-color);
    text-align: center;
}

tfoot td {
    text-align: center;
}

/* Landing six (contact) */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 60rem;
    padding: 3rem;
    justify-content: center;
}

fieldset {
    border: none;
}

legend {
    position: relative;
    top: -2rem;
    font-style: italic;
}

.form-contact {
    position: relative;
    top: -7rem;
}

.form-flex {
    display: flex;
    gap: var(--gap);
    align-items: center;
    flex-flow: row wrap;
    max-width: 100%;
}

.form-group {
    flex: 1 1 40%;
    min-width: 40rem;
    max-width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
    max-width: 100%;
}

.form-group input, .form-group textarea {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
    border: none;
    max-width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0.1rem 0.1rem 3rem 0.1rem var(--three-color);
    border: none;
}

.full-width {
    flex: 1 1 100%;
    min-width: 40rem;
    max-width: 100%;
}

.full-width textarea {
    width: 100%;
    resize: none;
    max-width: 100%;
}

::placeholder {
    font-size: 3rem;
    color: #ccc;
}

.full-width button {
    border: 0.5rem solid var(--white-color);
    background: none;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.full-width button:hover {
    background: white;
    color: var(--two-color);
}

/*----------------Footer--------------------*/

footer {
    align-items: center;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--two-color);
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 4rem;
    border: 0.1rem solid var(--three-color);
    color: var(--white-color);
}

.back-to-top:hover {
    transition: all 400ms ease-in-out;
    transform: rotate(-360deg);
}

/*---------Media Queries for Mobile*-------------*/

@media (max-width: 730px) {
    body {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 4rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 2.5rem;
    }
    .main-grid, .text-grid, .contact-grid {
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    .title-grid {
        padding-top: 1rem;
    }
    .grid-gallery {
        grid-template-columns: 1fr;
        max-width: 100%;
        justify-content: center;
        align-self: center;
    }
    .grid-gallery img {
        width: 100%;
    }
    .title-main {
        font-size: 4.5rem;
    }
    .gallery-space {
        max-width: 100%;
    }
    .contact-grid {
        padding-top: 2rem;
    }
    .form-group {
        flex: 1 1 100%;
        min-width: 20rem;
        max-width: 100%;
    }
    .container-text {
        position: relative;
        top: 5rem;
        padding: 0rem 1rem 3rem 1rem;
    }
    .responsive-table {
        margin: 0 auto;
    }
    table {
        min-width: 20rem;
    }
    /*------------------ Menu ---------------------*/
    .menu-area {
        bottom: 0;
        flex-direction: column;
        text-align: center;
        margin-bottom: 5rem;
    }
    .menu-area ul {
        margin-top: 5rem;
        flex-direction: column;
        min-height: 100vh;
    }
    .menu {
        display: none;
    }
    .close-menu {
        position: fixed;
        z-index: 5;
        height: 65px;
        top: 0;
        left: 0;
    }
    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: black;
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }
    .close-menu:checked~.menu {
        display: block;
    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .close-menu {
        display: none;
    }
    .form-group input, .form-group textarea {
        font-size: 1.7rem;
        padding: 1rem;
    }
    ::placeholder {
        font-size: 1.7rem;
        color: #ccc;
    }

    .back-to-top {
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}