:root {
    --one-color: #EEF36A;
    --two-color: #3F3047;
    --three-color: #70557D;
    --four-color: #9BC995;
    --white-color: #FFF;
    --gap-simple: 1.5rem;
    --gap: 3rem;
    --gapduplo: 6rem;
    --gap-endland: 9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Config inicial */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: var(--two-color);
    font-size: 2rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h2 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
    line-height: 1;
}

h4 {
    font-size: 4rem;
}

h5 {
    font-size: 3rem;
}

/* Background and Section*/

.main-bg {
    background-image: url(../IMG/Main-bg.svg);
    /*Color background var(--one-color); */
    background-size: cover;
    background-position: center center;
    color: var(--two-color);
}

.tornado-bg {
    background-image: url(../IMG/Tornado-bg2.svg);
    /*Color background var(--two-color and --tree-color); */
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.radiant-bg {
    background: #3F3047;
    /*Color background var(--two-color and --tree-color); */
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.second-bg {
    background: var(--four-color);
    color: var(--tree-color);
}

.landing {
    min-height: 100vh;
}

.main-area {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.menu-space {
    height: 6.8rem;
    width: 100%;
    background: red;
}

/* Menu */

.menu {
    background: var(--white-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    border-bottom: 0.15rem solid var(--three-color);
    z-index: 1;
}

.menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.5rem;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--two-color);
}

.menu ul {
    display: flex;
}

.menu-op li {
    list-style-type: none;
    position: relative;
}

.menu ul li a::after {
    /*Precisa usar a posição relative no pai*/
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/* Landing one */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 70rem;
    padding: 5rem 3rem 20rem 3rem;
    justify-content: center;
    position: relative;
    top: 5rem;
}

.image-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.text-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.title-main {
    margin-bottom: var(--gapduplo);
}

.p-main {
    font-weight: 400;
}

.image-main img {
    max-width: 100%;
    height: auto;
}

/* Landing two */

.container-text {
    padding: 6rem 3rem 3rem 3rem;
    display: flex;
    flex-flow: column wrap;
    max-width: 80rem;
    text-align: center;
    min-height: 100vh;
    margin-bottom: var(--gap-endland);
}

.container-text h2 {
    padding: var(--gap);
}

.container-text p {
    padding: var(--gap);
}

/* Landing three */

.title-grid {
    padding: 8rem 0;
}

.title-grid h3 {
    margin-bottom: var(--gap)
}

.text-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
    margin-bottom: var(--gap-endland);
}

.text-grid h5 {
    position: relative;
    margin-left: 5rem;
    margin-bottom: var(--gap);
}

.text-grid h5::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-style: italic;
    left: -5rem;
    top: -2rem;
    font-size: 5rem;
    transform: rotate(7deg);
}

/* Landing four (Galley) */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.grid-gallery img {
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
}

.gallery-space {
    max-width: 100%;
    max-height: 97%;
    overflow: hidden;
}

.grid-gallery img:hover {
    transform: scale(1.2) translate(-3%, 3%) rotate(4deg);
}

.gallery-space {
    border: 1px solid var(--three-color);
}

/* Landing five (Table) */

.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}

table {
    min-width: 40rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1.2rem;
    text-align: left;
    border: 0.1rem solid var(--four-color);
}

tfoot td, table th {
    background: var(--four-color);
    text-align: center;
}

tfoot td {
    text-align: center;
}

/* Landing six (contact) */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 60rem;
    padding: 3rem;
    justify-content: center;
}

fieldset {
    border: none;
}

legend {
    position: relative;
    top: -2rem;
    font-style: italic;
}

.form-contact {
    position: relative;
    top: -10rem;
}

.form-flex {
    display: flex;
    gap: var(--gap);
    align-items: center;
    flex-flow: row wrap;
}

.form-group {
    flex: 1 1 40%;
    min-width: 40rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-group input:focus, .form-group textarea:focus {
    box-shadow: 0.1rem 0.1rem 3rem 0.1rem var(--three-color);
    border: none;
}

.full-width {
    flex: 1 1 100%;
    min-width: 40rem;
}

.full-width textarea {
    width: 100%;
    resize: none;
}

::placeholder {
    font-size: 3rem;
    color: #ccc;
}

.full-width button {
    border: 0.5rem solid var(--white-color);
    background: none;
    padding: 1rem 2rem;
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.full-width button:hover {
    background: white;
    color: var(--two-color);
}


-------------------------------------------

footer {
    align-items: center;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;
    padding: 1rem;
}
